
.pizzaria-infos span{
    vertical-align: middle;
	color: #626264;

}

.pizzaria-infos span.mdi-star{
	color: #facd5d;
}

.pizzaria-infos text{
	font-size: 13px;
	margin-right: 10px;
	vertical-align: middle;
	color: #626264;
}
.pizzaria-img{
	border-radius: 5px;
	margin-bottom: 20px;
}

.list-products{
	max-height: 800px;
	overflow-y: auto;
}

.texto{
    letter-spacing: 1px;
}

